@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h2>Upload CSV File</h2>
        <ul>
	        <li><a asp-area="" asp-controller="Parser" asp-action="Upload">Upload</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Weather</h2>
		<ul>
			<li><a asp-area="" asp-controller="Weather" asp-action="Index">Temperature by Lat./Long.</a></li>
		</ul>
    </div>
</div>